<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('includes/nav.ejs'); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

     <div class="card-container">
      <% movies.forEach(function(movie){ %>
          <div class="card">
              <h2><a href="/details/<%= movie._id %>"><%= movie.title %></a></h2>
              <div class="movie-poster-container">
                <img src="<% if(movie.poster) { %> <%= movie.poster %> <% } else { %> /images/NoPhotoAvailable.jpg <% } %>" alt="movie poster" >
              </div>
              <div class="movie-content">
                <p><strong>Plot: </strong> <% if(movie.fullplot) {%> <%= movie.fullplot %> <% } else { %> Movie plot not available <% } %></p>
                <span class="genres"><strong>Genre: </strong><% movie.genres.forEach((g) => { %> <a href="/category/<%= g %>" class="genresEach"><%= g %></a> <% }) %></span>
                <br>
                <strong>Directors: </strong><% movie.directors.forEach((d) => { %> <%= d %>  <% }) %>
              </div>
              <p class="btn-container"><a class="info-button" href="/details/<%= movie._id %>">Show Details</a></p>
          </div>
      <% }); %>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
