<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('includes/nav.ejs'); %>
    <h1><%= title %></h1>
    <br>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Genres</th>
          <th>Rated</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <% movies.forEach(function(movie){ %>
        <tr>
          <td><%= movie.title %></td>
          <td><% movie.genres.forEach((c) => { %> <a href="/category/<%= c %>" class="genresEach"><%= c %></a><br> <% }); %></td>
          <td><%= movie.rated %></td>
          <td><%= movie.lastupdated %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script src="/javascripts/script.js"></script>
  </body>
</html>